<div>
    <p>Some static text here.</p>
    <label for="te-moduleList">Module:</label>
    <select id="te-moduleList" class="moduleList">
        {{#each modules}}
            <option value="{{@key}}"{{#if @first}} selected class="lastSelected"{{/if}}>{{this.name}}</option>
        {{/each}}
    </select>
    <i class="fa fa-spin fa-spinner loadingIcon"></i>
    <hr>
    <label for="te-fromLanguage">Translate from:</label>
    <select id="te-fromLanguage" class="languageSelect">
        {{#each languages}}
            <option value="{{@key}}"{{#if this.fromLanguage}} selected class="lastSelected"{{/if}}>{{this.name}}</option>
        {{/each}}
    </select>
    <label for="te-toLanguage">Translate to:</label>
    <select id="te-toLanguage" class="languageSelect">
        {{#each languages}}
            <option value="{{@key}}"{{#if this.toLanguage}} selected class="lastSelected"{{/if}}>{{this.name}}</option>
        {{/each}}
    </select>
    <div class="floatRight">
        <label for="te-saveType">Save as:</label>
        <select id="te-saveType">
            <option value="flat">Flat keys</option>
            <option value="nested">Nested keys</option>
        </select>
    </div>
    <form id="te-form">
        <table class="hidden">
            <thead>
            <tr>
                <th colspan="3">Key</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="buttons">
        <button class="resetButton" type="button"><i class="fas fa-ban"></i>Reset</button>
        <button class="saveButton" type="submit"><i class="fas fa-save"></i>Save</button>
        <button class="downloadButton" type="button"><i class="fas fa-download"></i>Download</button>
    </div>
</div>
